<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>
<body class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gestión de entrada y de salida de vehículos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../usuarios/usuarios">Gestión de usuarios y celdas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gestión de pagos</a>
        </li>
        
    </ul>
    <h1><center class="center"> CHARLOS PARKING</center></h1>
    <table id="tablaVehiculosParqueados" class="table">
        <thead>
        <center>Vehículos en el parqueadero</center>
            
            <tr>
                <th scope="col">Propietarrio</th>
                <th scope="col">Placa vehículo</th>
                <th scope="col">Tipo vehículo</th>
                <th scope="col">Celda</th>
                <th scope="col">Estado suscripción</th>
                <th scope="col">Fecha entrada</th>
                <th scope="col">Hora entrada</th>
                <th scope="col">¿Registrar salida?</th>
            </tr>
            <% for (var i = 0; i< ocupacion.length; i++){ %>
                <tr id='<%= ocupacion[i].placa %>' >
                    <th scope="row" ><%= ocupacion[i].nombre %></td>
                    <td><%= ocupacion[i].tipoVehiculo %></td>
                    <td><%= ocupacion[i].placa %></td>
                    <td><%= ocupacion[i].numero %></td>
                    <td><%= ocupacion[i].estadoSuscripcion %></td>
                    <td><%= ocupacion[i].fechaEntrada.toLocaleDateString(undefined) %></td>
                    <td><%= ocupacion[i].horaEntrada %></td>
                    <td>
                        <form action="/salida" method="post">
                            <input name="placa" value='<%= ocupacion[i].placa %>' type="Submit" class="btn btn-primary justify-content-center">
                        </form>
                    </td>
                </tr>
            <% } %>
        </thead>
    </table>
    <input type="text" id="filtroNombre" onkeyup="filterByName()" placeholder="Filtrar por nombre.." title="Type in a name">
    <div class="col-md-6 mt-4 card mx-auto justify-content-center" >
        <form action="/ocupacion" method="post" class="card-body d-flex flex-column mx-auto justify-content-center" >
            <h3 class="card-tittle" > Registrar entrada de vehiculo</h3>
            <select name="placa" class="form-select">
            <% for (var i=0; i< vehiculo.length; i++){ %>
                <option><%=vehiculo[i].placa %></option>
            <%}%>
            </select>
            <input type="Submit" class="btn btn-primary mx-auto" value="Registrar entrada">
        </form>
    </div>
    <script>
    function filterByName(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filtroNombre");
        filter = input.value.toUpperCase();
        table = document.getElementById("tablaVehiculosParqueados");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("th")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    }
    </script>
</body>
</html>